/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;

  > .container {
    padding: 85px 15px 0;
  }
}

.footer {
  background-color: $light;
  bottom: 0;
  height: $footer-height; /* Set the fixed height of the footer here */
  line-height: $footer-height; /* Vertically center the text there */
  position: absolute;
  width: 100%;

  > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
